.homepage, .homepage-body {
  height: 100%;
}

.homepage {
  padding: 1rem;
  background-color: var(--bg-color);
}

.homepage-body {
  display: flex;
  align-items: center;
  padding: 4rem;
  background-color: var(--fg-color);
}

.homepage-title {
  color: var(--fg-dark-color);
  font-size: 3rem;
}

@media (prefers-color-scheme: dark) {
  .homepage {
    background-color: var(--bg-dark-color);
  }
  
  .homepage-body {
    background-color: var(--fg-dark-color);
  }

  .homepage-title {
    color: var(--bg-color);
  }
}

@media (max-width: 800px) {
  .homepage-body {
    padding: 2rem;
  }

  .homepage-title {
    font-size: 2rem;
  }
}

@media (max-width: 600px) {
  .homepage-title {
    font-size: 1.5rem;
  }
}

@media (max-width: 450px) {
  .homepage-title {
    width: 8rem;
  }
}
