.category {
  margin-bottom: 50px;
}

.category-title {
  margin: 0 16px;
  font-size: 24px;
  color: var(--title-color);
}

.category-title:first-letter {
  border-bottom: 1px solid var(--title-color);
}

.category-body {
  padding: 16px;
  color: var(--body-color);
}
