.skill {
  padding: 10px 0px;
}

.skill-title {
  line-height: 15px;
}

.skill-value-bar {
  float: left;
  width: 300px;
  height: 15px;
  margin-right: 30px;
  background-color: var(--main-color-light);
}

.skill-value {
  height: 100%;
  background-color: var(--main-color);
}
